:host ::ng-deep .p-accordion-content {
  overflow: visible !important;
}

:host ::ng-deep .p-dropdown-panel {
  z-index: 9999 !important;
}

:host {
  display: block;
  padding: 1rem;
}

.card {
  background-color: var(--surface-card);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.grid > div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.p-button-primary {
  background-color: #4b4bf9;
  border: none;
}