:host {
  display: inline-block;
  
  .p-tag {
    min-width: 6rem;
    text-align: center;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    
    .p-tag-icon {
      margin-right: 0.25rem;
    }
  }
}